<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="com.pizzaservice.service">
    <Properties>
        <Property name="filename">log.out</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="com.pizzaservice.service.OrderServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="com.pizzaservice.service.PizzaServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>